.modal{
	background-color: #333;
	opacity: 0.9;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	padding: 0;
	margin:0;
	z-index:10;
	display: none;
}
.click{
	text-decoration: none;
	font-style:20px;
}
.contenu{
	width: 24%;
	border: 1px solid whitesmoke;
	background-color: white;
	top:25%;
	left: 40%;
	position: fixed;
	height: 350px;
	padding: 10px;
	-webkit-box-shadow: 0px 0px 20px whitesmoke;
	-moz-box-shadow: 0px 0px 20px whitesmoke;
	box-shadow: 0px 0px 20px whitesmoke;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	display: none;
	z-index: 999;
}
.fermer{
	text-align: right;
	float: right;
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
	display: block;
	color: red;
}
.title{
	/*background-color: brown;
	position: relative;
	top:10px;
	left: 0;*/
}